/* Common Start */
.text-align-right{
  text-align: right;
}

.hidden{
  display: none !important;
}

.text-secondary-light{
  color: #6f7d8c;
}

.section{
  padding: 6rem 0 9rem;
}
/* Common End */

.flex-cetner{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar{
  background: #0b1219;
}

.img_background{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main-logo{
  width: 200px;
  height: 200px;
  background: white;
  margin: 0 auto 30px;
  background-image: url(/hits-logo-primary.svg);
}

.navbar-brand{
  width: 60px;
  height: 60px;
  background-image: url(/hits-logo-secondary.svg);
}

.main-title-logo{
  vertical-align: baseline;
  height: 150px;
  margin-bottom: -30px;
}

.title-icon {
  font-size: 60px;
  margin-left: 10px;
}

.subtitle {
  color: #ddd;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .container.container-mobile-fill{
      max-width: 100%;
  }
}

@media (min-width: 576px){
  .show-rank-content, .stream-view-content{
    border-radius: 0.4rem;
    box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.3);
  }
}

.url-label{
  color: var(--blue);
  font-size: 1.2rem;
}

.url-input{
  font-size: 1.5rem;
}

.url-small{
  font-size: 100%;
}

.copy-button{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--blue);
  color: #fff;
  font-size: 0.7rem;
}

.text-box{
  padding: 20px 40px 40px 20px;
  color: #fff;
  word-break: break-all;
}

.text-box-container{
  position: relative;
  background-color: #222;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

#stream_view{
  height: 500px;
  overflow: auto;
}

.wating-stream{
  display: none;
}

.wating-stream:only-child{
  display: block;
  color: #555;
  letter-spacing: 2px;
}

#history_view{
  min-height: 350px;
  position: relative;
  padding: 35px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.gradient-bg-primary{
  background: url(./background.svg) center/cover no-repeat ;
}

.secondary-bg{
  background: #E8ECF7;
}

.wating-graph{
  opacity: 0;
  position: absolute;
  transition: opacity 300ms;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #888;
}

.wating-graph b{
  margin-left: 0.5rem;
}

.wating-graph:only-child{
  opacity: 1;
}

#rank_view{
  color: black;
  word-break: break-all;
}

.rank-subtitle{
  font-weight: normal;
  color: #777;
}

.rank-subtitle b{
  letter-spacing: 0.15rem;
}

.show-rank-content, .stream-view-content{
  padding: 2rem;
  background-color: rgba(255, 255, 255, .9);
  min-height: 6rem;
  color: black;
}

/* Badge Start */

.badge-options-title{
  line-height: 100%;
}

.icon-selector{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(100% + 5px);
  width: 260px;
  height: 400px;
  z-index: 1;
  background: #fff;
  border-radius: 5px;
}

.icon-selector .icon-search-input-container{
  padding: 10px;
}

.icon-search-list{
  flex-grow: 1;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.icon-search-item{
  display:inline-block;
  width: 25%;
  height: 62px;
  padding: 5px;
  cursor: pointer;
}

.icon-search-item:hover{
  background: #eee;
}

@media (max-width: 576px){
  .icon-selector-container {
    order: -1;
  }
}

/* Badge End */

/* History Start */

.graph_img{
  width: 100%;
  max-width: 800px;
}

/* History End */

/* Notice Start */
.notice{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate3D(-50%, 0, 0);
  width: 80%;
  max-width: 400px;
  background-color: white;
  z-index: 1;
  border-radius: 20px;
  box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.7);
  padding: 15px 25px;
  transition: transform 300ms;
}

.notice.notice-slide-down{
  transform: translate3d(-50%, calc(100% + 10px), 0);
}

.notice .title{
  font-size: 23px;
  color: #ff5e5e;
  font-weight: bold;
}

.notice p{
  white-space: pre-line;
  font-size: 17px;
  margin: 10px 0 0;
}

.close_btn{
  position:absolute;
  width: 28px;
  height: 28px;
  top: 14px;
  right: 10px;
  background: url(./close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: none;
}

@media (min-width: 767px) {
  .notice{
    left: unset;
    right: 10px;
    transform: none;
  }

  .notice.notice-slide-down{
    transform: translate3d(0, calc(100% + 10px), 0);
  }
}

a.notice_btn{
  display:inline-flex;
  border: none;
  background: none;
  color: #047bfe !important;
  font-size: 15px;
  padding: 0;
  margin-top: 9px;
  cursor: pointer;
  align-items: center;
}

a.notice_btn:hover{
  text-decoration: none;
  color: #00356f !important;
}

.notice .fa-github{
  margin-left: 5px;
  font-size: 24px;
}

/* Notice End */