@media (max-width: 768px) {
  .container.container-mobile-fill{
      max-width: 100%;
  }
}

@media (min-width: 576px){
  .show-rank-content{
    border-radius: 0.4rem;
    box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.3);
  }
}

.url-label{
  color: var(--blue);
  font-size: 1.2rem;
}

.url-input{
  font-size: 1.5rem;
}

.url-small{
  font-size: 100%;
}

.copy-button{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--blue);
  color: #fff;
  font-size: 0.7rem;
}

.text-box{
  padding: 20px 40px 40px 20px;
  color: #fff;
  word-break: break-all;
}

.text-box-container{
  position: relative;
  background-color: #222;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

#stream_view{
  max-height: 500px;
  overflow: auto;
}

#history_view{
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-bg-primary{
  background: rgb(24,154,188);
  background: linear-gradient(124deg, rgba(24,154,188,1) 0%, rgba(24,188,156,1) 40%,rgba(24,188,156,1) 60%, rgba(24,188,104,1) 100%);
  box-shadow: 0px 11px 25px 0px #bbb;
}

.wating-graph{
  opacity: 0;
  position: absolute;
  transition: opacity 300ms;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  height: 100%;
  width: 100%;
  color: #888;
}

.wating-graph b{
  margin-left: 0.5rem;
}

.wating-graph:only-child{
  opacity: 1;
}

#rank_view{
  color: black;
  word-break: break-all;
}

.rank-subtitle{
  font-weight: normal;
  color: #777;
}

.rank-subtitle b{
  letter-spacing: 0.15rem;
}

.show-rank-content{
  padding: 2rem;
  background-color: rgba(255, 255, 255, .8);
  min-height: 6rem;
}